# Jupyter Notebook

In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
%load_ext sql

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///:memory:

# Around 1000 rows

In [5]:
#overall adp files
overall_adp_2019 = pd.read_csv('data/overall_adp_rankings_2019.csv')
display(overall_adp_2019)
overall_adp_2022 = pd.read_csv('data/FantasyPros_2022_Overall_ADP_Rankings.csv')
display(overall_adp_2022)

,Rank,Player,Team,Bye,POS,MFL,Fantrax,RTSports,FFC,Sleeper,AVG
0,1.0,Saquon Barkley,NYG,11,RB1,1.0,1.0,NaN,1.0,NaN,1.0
1,2.0,Christian McCaffrey,CAR,7,RB2,3.0,2.0,NaN,2.0,NaN,2.5
2,3.0,Alvin Kamara,NO,9,RB3,2.0,3.0,NaN,3.0,NaN,2.5
3,4.0,Ezekiel Elliott,DAL,8,RB4,4.0,4.0,NaN,4.0,NaN,4.0
4,5.0,DeAndre Hopkins,ARI,12,WR1,5.0,6.0,NaN,5.0,NaN,5.3
...,...,...,...,...,...,...,...,...,...,...,...
400,401.0,Foster Moreau,LV,NaN,TE52,NaN,403.0,NaN,NaN,NaN,403.0
401,402.0,Bryce Love,NaN,NaN,RB109,NaN,408.0,NaN,NaN,NaN,408.0
402,403.0,D'Onta Foreman,CAR,7,RB110,NaN,409.0,NaN,NaN,NaN,409.0
403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Rank,Player,Team,Bye,POS,ESPN,RTSports,MFL,Fantrax,FFC,Sleeper,AVG
0,1.0,Jonathan Taylor,IND,14.0,RB1,1.0,1.0,NaN,NaN,NaN,1.0,1.0
1,2.0,Christian McCaffrey,CAR,13.0,RB2,2.0,2.0,NaN,NaN,NaN,2.0,2.0
2,3.0,Austin Ekeler,LAC,8.0,RB3,4.0,3.0,NaN,NaN,NaN,4.0,3.8
3,4.0,Cooper Kupp,LAR,7.0,WR1,3.0,5.0,NaN,NaN,NaN,5.0,4.0
4,5.0,Derrick Henry,TEN,6.0,RB4,5.0,8.0,NaN,NaN,NaN,3.0,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...
350,351.0,Malik Willis,TEN,6.0,QB39,NaN,NaN,NaN,NaN,NaN,NaN,297.0
351,352.0,Joey Slye,WAS,14.0,K29,NaN,NaN,NaN,NaN,NaN,NaN,299.0
352,353.0,O.J. Howard,HOU,6.0,TE44,NaN,NaN,NaN,NaN,NaN,NaN,300.0
353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#wide receiver stats
wr_stats_2018 = pd.read_csv('data/fantasy_pros_2018_wr_statistics.csv')
display(wr_stats_2018)

,Rank,Player,G,REC,YDS,Y/R,YBC,YBC/R,AIR,AIR/R,...,% TM,CATCHABLE,DROP,RZ TGT,10+ YDS,20+ YDS,30+ YDS,40+ YDS,50+ YDS,LNG
0,1.0,Tyreek Hill (MIA),16.0,87.0,"1,479",17.0,952,10.9,952,10.9,...,27.1%,94.0,6.0,9.0,50.0,27.0,16.0,8.0,4.0,75.0
1,2.0,Antonio Brown (FA),15.0,104.0,"1,297",12.5,812,7.8,812,7.8,...,24.9%,107.0,3.0,12.0,48.0,17.0,8.0,6.0,2.0,78.0
2,3.0,Davante Adams (LV),15.0,111.0,"1,386",12.5,911,8.2,911,8.2,...,27.5%,116.0,5.0,15.0,53.0,18.0,8.0,5.0,2.0,57.0
3,4.0,DeAndre Hopkins (ARI),16.0,115.0,"1,572",13.7,"1,185",10.3,"1,185",10.3,...,33.0%,121.0,2.0,10.0,66.0,23.0,9.0,4.0,0.0,49.0
4,5.0,Julio Jones (TB),16.0,113.0,"1,677",14.8,"1,229",10.9,"1,229",10.9,...,28.1%,123.0,9.0,13.0,78.0,24.0,10.0,2.0,1.0,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,182.0,Josh Malone (PIT),9.0,1.0,12,12.0,12,12.0,12,12.0,...,0.9%,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,12.0
182,183.0,Victor Bolden Jr. (FA),6.0,1.0,10,10.0,9,9.0,9,9.0,...,0.8%,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,10.0
183,184.0,Jeremy Kerley (FA),1.0,2.0,7,3.5,-8,-4.0,-8,-4.0,...,0.7%,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#end of season wide receiver rankings
wr_rankings_2019 = pd.read_csv('data/wr_eos_rankings_2019.csv')
display(wr_rankings_2019)

      Rank           Player   Team  Points  Games   Avg
0      1.0   Michael Thomas     NO   374.6   16.0  23.4
1      2.0     Chris Godwin     TB   276.1   14.0  19.7
2      3.0      Julio Jones    ATL   274.1   15.0  18.3
3      4.0      Cooper Kupp    LAR   270.5   16.0  16.9
4      5.0  DeAndre Hopkins    HOU   269.5   15.0  18.0
..     ...              ...    ...     ...    ...   ...
289  290.0    Quincy Enunwa    NYJ    -1.4    1.0  -1.4
290  291.0      Greg Dortch  Multi    -2.0    2.0  -1.0
291  291.0  Ray-Ray McCloud  Multi    -2.0    6.0  -0.3
292    NaN              NaN    NaN     NaN    NaN   NaN
293    NaN              NaN    NaN     NaN    NaN   NaN

[294 rows x 6 columns]

In [10]:
merged_data = wr_rankings_2019.merge(overall_adp_2019, how= 'outer', on = 'Player')
merged_data.head(20)
# get dataset for all players with all the positions

,Rank_x,Player,Team_x,Points,Games,Avg,Rank_y,Team_y,Bye,POS,MFL,Fantrax,RTSports,FFC,Sleeper,AVG
0,1.0,Michael Thomas,NO,374.6,16.0,23.4,13.0,NO,9,WR3,13.0,12.0,NaN,13.0,NaN,12.8
1,2.0,Chris Godwin,TB,276.1,14.0,19.7,50.0,TB,7,WR20,53.0,47.0,NaN,46.0,NaN,49.0
2,3.0,Julio Jones,ATL,274.1,15.0,18.3,14.0,TB,7,WR4,14.0,15.0,NaN,12.0,NaN,13.0
3,4.0,Cooper Kupp,LAR,270.5,16.0,16.9,51.0,LAR,9,WR21,55.0,49.0,NaN,50.0,NaN,50.5
4,5.0,DeAndre Hopkins,HOU,269.5,15.0,18.0,5.0,ARI,12,WR1,5.0,6.0,NaN,5.0,NaN,5.3
5,6.0,Keenan Allen,LAC,261.5,16.0,16.3,26.0,LAC,12,WR11,27.0,24.0,NaN,29.0,NaN,26.8
6,7.0,Julian Edelman,NE,256.3,16.0,16.0,43.0,NaN,NaN,WR16,46.0,43.0,NaN,47.0,NaN,44.0
7,8.0,Allen Robinson II,CHI,254.9,16.0,15.9,77.0,LAR,9,WR30,70.0,67.0,NaN,76.0,NaN,75.3
8,9.0,Kenny Golladay,DET,248.0,16.0,15.5,49.0,NYG,11,WR19,52.0,41.0,NaN,54.0,NaN,48.5
9,10.0,Amari Cooper,DAL,246.5,16.0,15.4,34.0,CLE,7,WR12,32.0,31.0,NaN,34.0,NaN,33.3
10,11.0,DeVante Parker,MIA,246.2,16.0,15.4,207.0,NE,10,WR70,150.0,195.0,NaN,NaN,NaN,172.5
11,12.0,Jarvis Landry,CLE,237.4,16.0,14.8,69.0,NO,9,WR29,64.0,64.0,NaN,78.0,NaN,71.0
12,13.0,Tyler Lockett,SEA,235.2,16.0,14.7,46.0,SEA,11,WR18,45.0,48.0,NaN,43.0,NaN,45.5
13,14.0,Robert Woods,LAR,232.9,15.0,15.5,42.0,TEN,11,WR15,48.0,40.0,NaN,44.0,NaN,43.3
14,15.0,Mike Evans,TB,232.7,13.0,17.9,22.0,TB,7,WR8,24.0,21.0,NaN,22.0,NaN,22.3
15,16.0,DJ Moore,CAR,230.5,15.0,15.4,67.0,CAR,7,WR28,65.0,62.0,NaN,72.0,NaN,68.8
16,17.0,D.J. Chark Jr.,JAC,225.8,15.0,15.1,291.0,DET,5,WR101,NaN,262.0,NaN,NaN,NaN,262.0
17,18.0,Tyler Boyd,CIN,222.9,16.0,13.9,57.0,CIN,9,WR23,58.0,50.0,NaN,65.0,NaN,58.0
18,19.0,Courtland Sutton,DEN,222.4,16.0,13.9,115.0,DEN,10,WR44,104.0,94.0,NaN,127.0,NaN,114.8
19,20.0,John Brown,BUF,219.8,15.0,14.7,142.0,NaN,NaN,WR51,135.0,158.0,NaN,142.0,NaN,147.0

In [4]:
# merge dataset if clean; clean as much as data possible; remove data files; 
#nyc opendata - for examples of clean dataset
#prediction model on which player is going to be a breakout player
#cluster of everyone else; cluster of busts; cluster of breakout players
# another column that indicates that they are breakout players