# Jupyter Notebook

In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
%load_ext sql

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///:memory:

In [7]:
twenty_twenty_one = pd.read_csv('data/2021_ecr.csv')
twenty_twenty_one

,Unnamed: 0,Player,Team,Rank,Pos,Bye,Best,Worst,Avg,Std Dev,ADP
0,1,Christian McCaffrey,CAR,1.0,RB1,13.0,1.0,7.0,1.2,0.7,1.0
1,2,Saquon Barkley,NYG,2.0,RB2,11.0,1.0,6.0,2.2,0.7,3.0
2,3,Ezekiel Elliott,DAL,3.0,RB3,10.0,1.0,11.0,3.2,0.7,2.0
3,4,Derrick Henry,TEN,4.0,RB4,7.0,2.0,12.0,4.7,2.0,4.0
4,6,Dalvin Cook,MIN,5.0,RB5,7.0,2.0,20.0,6.3,2.9,6.0
...,...,...,...,...,...,...,...,...,...,...,...
517,533,Elijah McGuire,KC,514.0,RB146,10.0,366.0,382.0,374.0,8.0,NaN
518,534,Trenton Cannon,CAR,515.0,RB147,13.0,365.0,384.0,374.5,9.5,NaN
519,535,Robert Griffin,BAL,516.0,QB47,8.0,371.0,381.0,376.0,5.0,NaN
520,536,Phillip Walker,CAR,517.0,QB48,13.0,367.0,386.0,376.5,9.5,NaN
521,537,Byron Pringle,KC,518.0,WR170,10.0,373.0,383.0,378.0,5.0,NaN

In [7]:
twenty_twenty_two = pd.read_csv('data/FantasyPros_2022_Overall_ADP_Rankings.csv')
twenty_twenty_two

,Rank,Player,Team,Bye,POS,ESPN,RTSports,MFL,Fantrax,FFC,Sleeper,AVG
0,1.0,Jonathan Taylor,IND,14.0,RB1,1.0,1.0,NaN,NaN,NaN,1.0,1.0
1,2.0,Christian McCaffrey,CAR,13.0,RB2,2.0,2.0,NaN,NaN,NaN,2.0,2.0
2,3.0,Austin Ekeler,LAC,8.0,RB3,4.0,3.0,NaN,NaN,NaN,4.0,3.8
3,4.0,Cooper Kupp,LAR,7.0,WR1,3.0,5.0,NaN,NaN,NaN,5.0,4.0
4,5.0,Derrick Henry,TEN,6.0,RB4,5.0,8.0,NaN,NaN,NaN,3.0,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...
350,351.0,Malik Willis,TEN,6.0,QB39,NaN,NaN,NaN,NaN,NaN,NaN,297.0
351,352.0,Joey Slye,WAS,14.0,K29,NaN,NaN,NaN,NaN,NaN,NaN,299.0
352,353.0,O.J. Howard,HOU,6.0,TE44,NaN,NaN,NaN,NaN,NaN,NaN,300.0
353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN